body,
html {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro {
    text-align: center;
    position: relative;
    margin-top: 5%;
    margin-bottom: 3%;
}

.intro-h1 {
    font-size: 100%;
    font-weight: bold;
    color: black;
}

.intro-desc {
    font-size: 100%;
    color: black;
}

.intro-btn a {
    font-size: 100%;
    text-decoration: none;
    color: white;
}

.translate {
    position: fixed;
    left: 80%;
}

.brand {
    font-size: 200%;
    font-weight: bold;
    color: white;
}

.page-background-img {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}

.experience {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    font-size: 150%;
}

.about-text {
    display: flex;
}

.about-text .about-header {
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
}

.about-text .about-info p {
    text-align: center;
    text-decoration: none;
    font-size: 100%;
}

.about-details {
    width: 10%;
    text-align: left;
    position: relative;
    left: 0%;
    margin-top: 20%;
    animation-name: right;
    animation-duration: 1s;
    margin-bottom: 5%;
    font-size: 100%;
}

.logo img {
    position: relative;
    left: 80%;
    animation-name: left;
    animation-duration: 1s;
    margin-top: 10%;
    width: 25%;
    height: auto;
}

.cv-pdf {
    height: 80%;
    width: 10%;
}

.cv-text {
    text-align: center;
    position: relative;
    left: 0%;
    margin-top: 0%;
    font-size: 110%;
}

.github-img {
    text-align: center;
    position: relative;
    left: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    width: 80%;
}

.github-text {
    text-align: center;
    position: relative;
    left: 0%;
    margin-top: 0%;
    font-size: 110%;
    margin-bottom: 5%;
}

.projects-img {
    text-align: center;
    position: relative;
    left: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    width: 100%;
}

.project1 {
    text-align: center;
    position: relative;
    left: 0%;
    margin-top: 0%;
    font-size: 150%;
    margin-bottom: 5%;
}

.contact-form {
    text-align: center;
    margin-top: 0%;
    width: auto;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
}

.socials {
    font-size: 3rem;
    width: 2.5%;
    left: 10px;
    position: fixed;
    top: 40%;
}

.socials a {
    text-decoration: none;
    color: black;
}

.title h2 {
    text-decoration: underline;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}

.projects {
    text-align: center;
    position: relative;
    left: 0%;
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 120%;
}

.card {
    background-color: transparent !important;
    border: none !important;
    width: 100%;
}

.card img {
    height: 20rem;
    background-color: transparent !important;
}

.card body {
    background-color: transparent !important;
}

hr {
    animation-name: left;
    animation-duration: 2s;
    color: black;
}

.brake {
    display: none;
}

@media screen and (max-width: 1200px) {
    .brake {
        display: block;
    }

    .card {
        width: 99%;
    }

    .socials {
        display: none;
    }

    .cv-text {
        font-size: 100%;

    }

    .github-img img {
        width: 24rem;
    }

    .cv {
        display: block;
    }

    .about-text {
        text-align: center;
        transform: translate(0%, 0%);
        left: 30%;
        margin-top: 10%;
        margin-bottom: 10%;
        width: 50%;
        font-size: 150%;
        margin-bottom: 5%;
    }

    .experience {
        display: block;
    }

    .about-details {
        width: 50%;
        text-align: center;
        position: relative;
        margin-top: 20%;
        margin-bottom: 5%;
    }

    .contact-form {
        width: auto;
    }

    .projects-img {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 5%;
        left: 0%;
        text-align: center;
    }

    .projects-img p {
        text-align: center;
        position: relative;
        left: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .projects-img h2 {
        text-align: center;
        position: relative;
        left: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .title h2 {
        text-decoration: underline;
        margin-bottom: 5%;
        margin-top: 3%;
        text-align: center;
        position: relative;
        left: 0%;
    }

    .project {
        display: block;
    }

    .logo img {
        display: none;
    }

    .about-text {
        display: block;
        font-size: 100%;
    }

    .about-text .about-header {
        margin-bottom: 10%;
    }

    .intro {
        margin-top: 25%;
        margin-bottom: 10%;
    }
}