@page "/geboortedatum"

<h3>Opdracht geboortedatum FunFacts</h3>

<p>@resultText</p>
<p>@resultText2</p>
<p>@resultText3</p>
<p>@resultText4</p>

<button class="btn btn-primary mt-1" @onclick="GoBack">Opnieuw</button>





