@page "/HomePage"

<h3>Welcom op het blazer project van Laurens</h3>
<p>Hier vind je een vertaling van javaschript-oefeningen naar c#</p>

<div class="grid-four-up">
    <div class="col mb-2">
        <NavLink class="btn btn-primary" href="Movies">Movies</NavLink>
    </div>
    <div class="col mb-2">
        <NavLink class="btn btn-primary" href="ToonFoto">Foto</NavLink>
    </div>
    <div class="col mb-2">
        <NavLink class="btn btn-primary" href="FunFacts">FunFacts</NavLink>
    </div>
    <div class="col mb-2">
        <NavLink class="btn btn-primary" href="Dobbelen">Dobbelen</NavLink>
    </div>
</div>






