@page "/toonfoto"

<h1>Random foto</h1>

<div class="card">
    <div class="card-header">
        Random foto
    </div>
    <div class="card-body text-center">
        <img src="../images/@foto" id="foto" alt="Random Foto">
        <br>
        <button class="btn btn-primary mt-2" @onclick="RandomFoto">Random foto</button>
    </div>
</div>
