<div class="navigation">
    <NavLink class="btn btn-light mr-5" href="HomePage"><span class="oi oi-home mr-3"></span>Home</NavLink>
    <NavLink class="btn btn-light mr-5" href="Movies"><span class="oi oi-eye mr-3"></span>Movies</NavLink>
    <NavLink class="btn btn-light mr-5" href="ToonFoto"><span class="oi oi-image mr-3"></span>Toon foto</NavLink>
    <NavLink class="btn btn-light mr-5" href="FunFacts"><span class="oi oi-calendar mr-3"></span>FunFacts</NavLink>
    <NavLink class="btn btn-light mr-5" href="Dobbelen"><span class="oi oi-euro mr-3"></span>Dobbelen</NavLink>
</div>

